:root {
  --navbar-height: 250px;
}

@font-face {
  font-family: Orbitron;
  src: url('/static/fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
}

body {
  position: relative;
  font-family: Orbitron;
  font-weight: 800;
  color: white;
  margin: 0;
  background: url('/static/bg.png') no-repeat center center fixed;
  background-size: cover;
  position: fixed;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  z-index: -1;
}

.done {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#pool-name {
  width: fit-content;
  font-size: 64px;
}

#closemodal {
  color: rgb(63, 63, 63);
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  margin-top: 24px;
  font-size: 24px;
}

#closemodal:hover {
  color: white;
}

nav {
  height: var(--navbar-height);
  text-align: center;
  margin-top: 10px;
}

.parent-container {
  margin-left: 5vw;
  margin-right: 5vw;
  position: relative;
  width: 90vw;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.hexagon-container {
  position: absolute;
  top: 38.7%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
  max-width: 300px;
}

.hexagon-container img {
  background-color: #3f41adff;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
  position: relative;
  z-index: 2;
}

.flex-item {
  height: calc(100vh - var(--navbar-height));
  gap: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-container {
  position: relative;
  margin-top: 40px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  text-align: center;
}

.pinfo {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  margin-right: 50px;
  text-align: right;
  width: 300px;
}

.country {
  color: #84cefcff;
  font-size: 36px;
  font-weight: 700;
}

.age {
  color: #f0fbff;
  font-size: 24px;
  font-weight: 700;
}

.next {
  margin-left: 480px;
  margin-top: 90px;
}

.price {
  display: flex;
  justify-content: center;
  gap: 43px;
}
