<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The SNUC IPL Auction</title>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- <div id="modal">
        <div id="modal-content">
            <h1>New Pool</h1>
            <div id="pool-name">{PoolName}</div>
        </div>
    </div> -->
    <div id="logo">
        <img src="../static/logo.png" alt="">
    </div>
    <div class="container">
        <div class="image__container">
            <img src="../static/player_photos/007.png" alt="">
        </div>
        <div class="stats__container">
            <div class="baseprice__container">
                <div class="baseprice">BASE PRICE</div>
                <div id="baseprice">{{ data.player.basePrice }}</div>
            </div>
            <div id="name">{{ data.player.name }}</div>
            <div id="demographic__container">
                <div id="country">{{ data.player.country }}</div>
                <div id="poolname">POOL: {{ data.pool.poolName }}</div>
                <div class="age">AGE: <span id="age">{{ data.player.age }}</span></div>
            </div>
            <div class="stats__header">
                <div>MATCHES</div>
                <div>RUNS</div>
                <div>WICKETS</div>
            </div>
            <div class="stats__stats">
                <div>{{ data.player.numMatches if data.player.numMatches else "-"  }}</div>
                <div>{{ data.player.numRuns if data.player.numRuns else "-"  }}</div>
                <div>{{ data.player.numWickets if data.player.numWickets else "-"  }}</div>
            </div>
            <div class="stats__header">
                <div>BAT AVG</div>
                <div>BOWL AVG</div>
                <div>STRIKE RATE</div>
            </div>
            <div class="stats__stats">
                <div>{{ data.player.battingAvg if data.player.battingAvg else "-"  }}</div>
                <div>{{ data.player.bowlingAvg if data.player.bowlingAvg else "-"  }}</div>
                <div>{{ data.player.strikeRate if data.player.strikeRate else "-"  }}</div>
            </div>
        </div>
    </div>
    <a href="/getPlayer/{{ (data.player.id | int) + 1 }}" id="nextbutton">Next -&gt;</a>
    <script>
        const data = "{{ data }}"

        console.log(JSON.parse(data))

    </script>
</body>
</html>